.noUi-target {
  margin-bottom: 10px;
	background-color: yellow;
	border: none;
	border-radius: 100px;
	box-shadow: none;
	height: 5px;
}

.noUi-connect {
	background-color: blue;
}

.noUi-handle::after,
.noUi-handle::before {
	display: none;
}

.noUi-handle {
	box-shadow: none;
	border-radius: 100%;
	background-color: #fff;
	border: 3px solid #5d71dd;
}

.noUi-horizontal .noUi-handle {
	width: 22px;
	height: 22px;
	top: -10px;
}

.noUi-horizontal .noUi-handle-upper {
	right: 0;
}