:root {
  --color-text_main: #ff0000;
  --color-text: #000000;
  --color-text_card-span: #ffd700;
  --color-background: grey;
  --color-background_card: #000000;
  --color-border: yellow;
  --color-border_card: #daa520;
  --color-light: white;
}